<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
>

    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <php>
        <server name='HTTP_HOST' value='localhost' />
        <server name='REQUEST_URI' value='/mock/123456789' />
        <server name='REQUEST_METHOD' value='get' />
    </php>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>